body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10%;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  max-width: 100%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: red;
}

form div {
  margin-bottom: 15px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"] {
  width: 100%;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #45a049;
}

/* Confirmation Modal styles */
.confirm-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirm-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
}

.confirm-modal button {
  margin: 5px;
  background-color: #f44336;
}

.confirm-modal button:hover {
  background-color: #d32f2f;
}

/* Table styling */
.todo-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.todo-table th,
.todo-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.todo-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.todo-table tr:hover {
  background-color: #f1f1f1;
}

.add-new-todo {
  width: 20%;
}

.update-btn {
  background-color: rgb(64, 64, 180);
}

.update-btn:hover {
  background-color: rgb(7, 7, 101);
}

.delete-btn {
  background-color: rgb(188, 71, 71);
  margin-left: 10px;
}

.delete-btn:hover {
  background-color: #810202;
}